<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hello</title>
         <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" /> -->
    </head>
    <body>
        <h1>Welcome to my website</h1>
        <h1>Go to api/test to see a simple return of an api</h1>

        <div class="modify">
            This div will be changed by the btn, this will test the if loading the /index.js is working
        </div>
        <button onclick='changedDiv()'>pressed me</button>
        
    </body>
    <script src="/index.js"></script>
</html>
